.postView {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 95%;
  background-color: white;
  margin-bottom: 40px;
  /* margin-top: 50px; */
}

.post_image_home {
  max-width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
